.parent {
    background-color: rgb(207, 207, 207);
    width: 200vb;
    height: 100%;
    align-items: flex-start;
    padding: 20px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: blue;
}

.n {
    display: inline;
    padding-left: 10px;
    margin-top: 12vb;
    width: 300vb;
    height: 50vb;
    text-align: left;
   
}

.name {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
    background-color: #5a827e;
    text-transform: capitalize;
    width: 200vb;
    height: 550px;
    line-height: 160%;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1;
}


body .info {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: capitalize;
    color: black;
    background-color: #dddddd;
    width: 200vb;
    height: 250px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    display: block;
    line-height: 160%;
    padding: 50px 30px;
    box-sizing: border-box;
}

.img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: inline;
    border: 3px solid #6b6b6b;
    margin: 10px 100px 10px 15px;
    margin-top: 10vb;
}

.hobbies {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: capitalize;
    color: black;
    background-color: #5a827e;
   padding-left: 40px;
    display: block;
    width: 200vb;
    box-sizing: border-box;
}